@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-rgb: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: white;
    --background-rgb: black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

body {
  margin: 0;
  padding: 0;
}
/* App.css */

/* Styling for the board */
.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  border: 2px solid #333;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: #fff;
}

.snake {
  border: 1px dotted red; /* Styling for snake cells */
}

.ladder {
  border: 1px dotted gray; /* Styling for ladder cells */
}

/* Styling for players */
.player-1 {
  background-color: red;
  color: white;
}

.player-2 {
  background-color: yellow;
  color: black;
}

.player-3 {
  background-color: green;
  color: white;
}

.player-4 {
  background-color: blue;
  color: white;
}
